* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

/* Buttons */

.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cta {
  background-color: aliceblue;
}
